.container {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.colTable {
  display: grid;
  grid-template-columns: auto 1fr auto;
  font-size: 11px;
  gap: 8px;
  align-items: center;
}

.colHeader {
  font-weight: bold;
}
