.dropdownValue {
  border: 1px solid var(--color-black-10);
  padding: var(--space-small);
  width: 100%;
}

.dropdownContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.uiWrap {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabWrapper {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}
